{% extends "accounts/base.html" %}

{% block title %}{{ domain }}{% endblock %}

{% block content %}

{{ video_channels.total }} Channels
<br>
<br>


<div id="wrap">
    {% for channel in video_channels.data %}
        <div class="result-wrapper">
            <img src="https://{{ domain }}{{ channel.avatar.path }}" height="75"/>

            <div class="result-info">
                <a href="/{{ domain }}/video-channels/{{ channel.name }}@{{ channel.host }}">
                    <b>{{ channel.displayName }}</b>
                </a>
                <br>
                {{ channel.followersCount }} Followers
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
