{% extends "accounts/base.html" %}

{% block title %}{{ domain }}{% endblock %}

{% block content %}

{{ videos.total }} Videos
<br>
<br>

<table>
{% for video in videos.data %}
    <tr>
        <td>
            <a href="/{{ domain }}/videos/watch/{{ video.uuid }}">
                <img src="https://{{ domain }}{{ video.thumbnailPath }}" height="150"/>
            </a>
        </td>
        <td>
            <a href="/{{ domain }}/videos/watch/{{ video.uuid }}">{{ video.name }}</a>
            <br>
            {{ video.views }} Views
            <br>
            <b>{{ video.channel.displayName }}</b>
            </a>
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
