{% extends "base.html" %}

{% block full_title %}{{ instance_name }} - Recently Added{% endblock %}

{% block content %}

<hr>
<div id="wrap">
    {% for video in videos.data %}
        <div class="result-wrapper">
            <a href="https://{{ domain }}/videos/watch/{{ video.uuid }}">
                <img src="https://{{ domain }}{{ video.thumbnailPath }}" height="150"/>
            </a>
    
            <div class="result-info">
                <a href="/{{ domain }}/videos/watch/{{ video.uuid }}">{{ video.name }}</a>
                <br>
                {{ video.views }} Views
                <br>
                <a href="/{{ domain }}/video-channels/{{ video.channel.name }}@{{ video.channel.host }}">
                    <b>{{ video.channel.displayName }}</b>
                </a>
                <br>
                <a href="/{{ domain }}/accounts/{{ video.account.name }}@{{ video.account.host }}">
                    {{ video.account.name }}@{{ video.account.host }}
                </a>
            </div>
        </div>

    {% endfor %}
</div>
<hr>

{% endblock %}
