{% extends "video_channels/base.html" %}

{% block title %}{{ domain }}{% endblock %}

{% block content %}

{{ videos.total }} Videos
<br>
<br>

<div id="wrap">
    {% for video in videos.data %}
        <div class="result-wrapper">
            <a href="/{{ domain }}/videos/watch/{{ video.uuid }}">
                <img src="https://{{ domain }}{{ video.thumbnailPath }}" height="150"/>
            </a>

            <div class="result-info">
                <a href="/{{ domain }}/videos/watch/{{ video.uuid }}">{{ video.name }}</a>
                <br>
                {{ video.views }} Views
                </a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
