{% extends "video_channels/base.html" %}

{% block title %}{{ domain }}{% endblock %}

{% block content %}

{{ video_playlists.total }} Playlists
<br>
<br>

<hr>
<div id="wrap">
    {% for playlist in video_playlists.data %}
        <div class="result-wrapper">
            <img src="https://{{ domain }}{{ playlist.thumbnailPath }}" height="150"/>
           
            <div class="result-info">
                <b>{{ playlist.displayName }}</b>
                <br>
                {{ playlist.videosLength }} Videos
            </div>
        </div>
    {% endfor %}
</div>
<hr>

{% endblock %}
