body {
    max-width: 1200px;
    margin: 10px auto;
    padding-left: 5px;
    padding-right: 5px;
}

/* search results related */

#wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.result-wrapper {
    width: 300px;
    margin: 10px;
}
 
.result-info {
    display: block;
}

/* end of search results related */

.tag {
    background-color: lightgray;
    padding: 3px 7px;
    display: inline;
}

button {
    font-size: 1rem;
    padding: 4px 10px;
    border: 2px solid #888888;
}

input {
    font-size: 1rem;
    padding: 4px;
    border: 2px solid #888888;
}

input:focus,
button:focus {
    outline: 2px solid #5d94ff;
}

a:visited {
    text-decoration: none;
}

a {
    text-decoration: none;
}

@media screen and (prefers-color-scheme: light) {
    /*- blue0-light scheme -*/
    /*- submitted by Patrick G. Palmer -*/
    body {
        background-color: #bce2e5;
        color: #555;
    }

    a:visited {
        color: #9759c6;
    }

    a:hover {
        color: #9759c6;
    }

    a {
        color: #6c9bd2;
    }

    button,
    input {
        background-color: #131618;
        border-color: #495057;
        color: #f8f9fa;
    }

    .tag {
        bacgkround-color: #495057;
        color: #f8f9fa;
    }

    center {
        background-color: #fff;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    }

    hr {
        border: 1px solid #bce2e5;
        width: 80%;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #212529;
        color: #f8f9fa;
    }

    a:visited {
        color: #9759f6;
    }

    a {
        color: #599bf6;
    }

    button,
    input {
        background-color: #131618;
        border-color: #495057;
        color: #f8f9fa;
    }

    .tag {
        background-color: #495057;
        color: #f8f9fa;
    }
}
