<!doctype html>

<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block head %}
	<title>{% block full_title %}{% block title %}{% endblock %} - SimpleerTube{% endblock %}</title>
	{% endblock %}
    </head>

    <!-- I know that inline CSS is not .. the best, but I'll move it to an external file for sure! definitely! -->
    <body>
        <h2>{{ instance_name }}</h2>
        <form action="/{{ domain }}/search" method="POST">
            <input size="45" type="text" name="query" id="query" placeholder="Search" value="{{ search_term }}"/>
            <button type="submit">Search</button>
        </form>

        <br>

        <a href="/{{ domain }}/videos/local">Local</a>
        <b> | </b>
        <a href="/{{ domain }}/videos/trending">Trending</a>
        <b> | </b>
        <a href="/{{ domain }}/videos/most-liked">Most Liked</a>
        <b> | </b>
        <a href="/{{ domain }}/videos/recently-added">Recently Added</a>
        <br>
        <br>

        {% block head_content %}{% endblock %}

        {% if pagination_url %}
            {% if pages_total > 1 %}
                {% if page > 1 %}
                    <a href="{{ pagination_url }}{{ page - 1 }}">Previous</a>
                    <b> | </b>
                {% endif %}
                Page {{ page }} of {{ pages_total }}
                {% if page < pages_total %}
                    <b> | </b>
                    <a href="{{ pagination_url }}{{ page + 1}}">Next</a>
                {%  endif %}
            {% endif %}
        {% endif %}
        <br>

        {% block content %}{% endblock %}

        {% if pagination_url %}
            {% if pages_total > 1 %}
                {% if page > 1 %}
                    <a href="{{ pagination_url }}{{ page - 1 }}">Previous</a>
                    <b> | </b>
                {% endif %}
                Page {{ page }} of {{ pages_total }}
                {% if page < pages_total %}
                    <b> | </b>
                    <a href="{{ pagination_url }}{{ page + 1}}">Next</a>
                {%  endif %}
            {% endif %}
        {% endif %}
        <footer>
            <a href="https://git.sr.ht/~metalune/simpleweb_peertube/tree/{{ commit }}">Commit: {{ commit }}</a>
        </footer>
    </body>
</html>
