{% extends "base.html" %}

{% block title %}{{ video.name }} - {{ domain }}{% endblock %}

{% block content %}
<h3>{{ video.name }}</h3>
By:
<b>{{ video.channel.displayName }}</b> ({{ video.channel.name }}@{{ video.channel.host }})
<br>
{% if video.no_quality_selected and not embed %}
    <img height="300" src="https://{{ video.channel.host }}{{ video.thumbnailPath }}">
    <p style="color: red">Please select a resolution:</p>
{% elif embed %}
    <embed height="300" src="https://{{ video.channel.host }}{{ video.embedPath }}">
    <br>
    <b>Resolutions:</b>
{% else %}
    <video height="300" controls>
	<source src="{{ video.video }}">
    </video>
    <br>
    <b>Resolutions:</b>
{% endif %}

{% for resolution in video.resolutions %}
    <a href="?quality={{ resolution.id }}">{{ resolution.label }}</a>
{% endfor %}
<a href="?embed=1">Embedded</a>

<br>
Views: <b>{{ video.views }}</b> Likes: <b>{{ video.likes }}</b> Dislikes: <b>{{ video.dislikes }}</b>

<br>
<br>
{{ video.description }}
<br>
<br>

<table>
    <tr>
	<td><b>Category</b></td>
	<td>{{ video.category.label }}</td>
    </tr>
    <tr>
	<td><b>License</b></td>
	<td>{{ video.licence.label }}</td>
    </tr>
    <tr>
	<td><b>Language</b></td>
	<td>{{ video.language.label }}</td>
    </tr>
    <tr>
	<td><b>Privacy</b></td>
	<td>{{ video.privacy.label }}</td>
    </tr>
    <tr>
	<td><b>Tags</b></td>
	<td>
	    {% for tag in video.tags %}
		{{ tag }}
	    {% endfor %}
	</td>
    </tr>
</table>
<br>
<br>
<br>
{% if video.commentsEnabled %}
    {{ comments.total }} Comments
    <br>
    <br>
    {% for comment in comments.data %}

        {% if not comment.isDeleted %}
            <b>{{ comment.account.displayName }}</b>
            <br>
            {{ comment.text }}
            <br>
        {% else %}
            <div style="color: #5F5F5F">
                <b>Unknown</b>
                <br>
                Deleted Comment
            </div>
        {% endif %}
        <i>
        {% if comment.totalReplies == 1 %}
            1 Reply
        {% else %}
            {{ comment.totalReplies }} Replies
        {% endif %}
        </i>
        <br>
        <br>
    {% endfor %}
{% else %}
Comments disabled.
{% endif %}

{% endblock %}
